body {
  font-family: Sans-Serif;
}
.container { position:relative; padding:0 0 0 225px; }
#sidebar {
    position:absolute;
    top:0; bottom:0; left:0;
    border:1px 
    solid #000; 
    width:200px;  
}
#header { 
    border:1px 
    solid #000; 
    width:750px; 
    height:100px; 
    margin:0 0 5px 0;
}
#content { 
    border:1px 
    solid #000; 
    width:750px; 
    height:500px;   
margin:5px 0 5px 0;
}
#footer { 
    border:1px 
    solid #000; 
    width:750px; 
    height:100px;
    margin:5px 0 0 0;
}