:root {
    --shade0:#1d1d21; /* shade colour 0 */
    --shade1:#18181c; /* shade colour 1 */
    --shade1a:#121216; /* shade colour 1a */
    --shade2:#0f0f14; /* shade colour 2 */
    --shade3:#09090D; /* shade colour 3 */
    --main:#030307;       /*main color rgb(0,0,0) var(--main)*/
    --text:#ddd;
}
body {
    font-family: Sans-Serif;
    color: var(--text);
    background-color: var(--main);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.content p:first-child {
    margin-top: 0px!important;
}

.alert {
    padding: 0 60px;
    position: relative;
    display: block;
    background: #088;
    color: #fff;
    height: auto;
    text-align: center;
    font-weight: 600;
}

#nojs {
    background: #800;
}
.nojsWaitForOnload {
    font-family: monospace;
    font-size: 10px;
}

.errormark {
    top: -1px;
    position: relative;
    line-height: 14px;
    font-size: 13px;
    font-weight: 1000;
    text-align: center;
    color: #800;
    width: 14px;
    background: #fff;
    display: inline-block;
}
.errormark:before {
    content: "";
    display: inline-block;
    animation: warn 1s infinite;
}

#closeAlert {
    color: #f66;
    left: 0.5em;
    bottom: -1.6em;
    padding: 0.5em 0;
    cursor: pointer;
    position: absolute;
}

#toggleSidebar {
    font-size: 2.8vh;
    animation: flash 1s infinite;
    z-index: 9999;
    position: fixed;
    bottom: 1em;
    left: 0;
}
#toggleSidebarSide {
    font-size: 2.8vh;
    z-index: 9999;
    position: fixed;
    bottom: 0;
    left: 0;
}

.sidebar {
    z-index: 2;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    width:200px;  
    background-color: var(--shade1a);
}
.sidebarWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarHead.first {
    margin: 10px 0;
}
.sidebarHead {
    color: #fff;
    background: var(--shade0);
    font-family: monospace;
    font-weight: 600;
    font-size: 16px;
    margin: 26px 0 10px 0;
    box-shadow: 2px 2px 5px 0 #000;
}
.sidebarLink {
    margin: 6px 0;
}

.head { 
    background: var(--shade0);
}

.headtext {
    width: auto;
    text-align: center;
}
.headtext,
.headtext a {
    line-height: 2em;
    font-size: 1.5em;
    color: #fff!important;
    font-weight: 600;
    text-decoration: none;
}
.content { 
    background-color: var(--main);
}
.footer { 
    display: none;
    /*display: block;*/
    height:100px;
}


.videosWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.video {
    margin: auto;
}

.projectContainer {
    background: var(--shade3);
    margin: 20px;
    padding: 10px;
    text-align: left;
}

.projectHead {
    font-size: 20px;
}


.projectContainer .projectHead {
    text-align: center;
    padding: 0 0 10px 0;
}

.projectWrap .projectHead {
    text-align: left;
    margin-right: auto;
}

.projectCategoryName {
    background: var(--shade2);
    font-weight: 600;
    color: #fff;
    padding:6px 10px;
}
.projectCategoryName:not(.first) {
    margin-top: 10px;
}

.projectCategory {
    overflow-x: scroll;
    background: var(--shade2);
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
}

.projectWrap {
    box-shadow: 2px 2px 5px 0 #000;
    background: var(--shade1);
    margin: 6px 10px;
    padding: 6px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
}


.profileWrap {
    /*bottom: 0;
    position: absolute;*/
    margin: 26px auto 100px auto;
    padding: 8px;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    box-shadow: 2px 2px 5px 0 #000;
    background: var(--shade0);
}
.profileWrap img {
    display: flex;
    height: auto;
}
.profileLinks {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* unvisited link */
a:link {
    color: #11aaff;
}

/* visited link */
a:visited {
    color: #26B14C;
}

/* mouse over link */
a:hover {
    color: lightgreen;
}

/* selected link */
a:active {
    color: lightblue;
}

hr  {
    border-color: #303030;
    display: block;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px
}
img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

@keyframes warn {
    0% { content: "!"; }
    50% { content: ""; }
    100% { content: "!"; }
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0.4; }
    100% {}
}

.content {
    z-index: 1;
    position: relative;
    padding-left: 200px; /* no js */
}

.sidebarLeft.sidebarOpen .content {
    padding-left: 200px;
}
.sidebarRight.sidebarOpen .content {
    padding-right: 200px;
    padding-left: 0px; /* no js fix */
}

.sidebarClosed .sidebar {
    display: none;
}
.sidebarOpen .sidebar {

}
.sidebarClosed .content {
    padding-left: 0px;
}
.sidebarOpen .content {

}
.sidebarRight .sidebar {
    left: unset;
    right: 0;
}

/* experimental mobile adaptive layout */
@media (pointer:none), (pointer:coarse) {
    body {
        font-size: 2.6vh;
    }
    .sidebarHead {
        font-size: 2.4vh;
    }
    .projectHead {
        font-size: 2.8vh;
    }

    .container {
        padding-left: 0px;
    }

    .sidebarOpen .sidebar {
        width: 45vw;
    }
    .sidebarClosed .sidebar {
        display: none;
    }
    .sidebarOpen .content {
        opacity: 0.5;
        padding: 0px!important;
    }
    .sidebarClosed .content {
        padding-left: 0px;
    }
    .sidebarRight .sidebar {
        left: unset;
        right: 0;
    }
}

/* since becpming bi,ive got a crush on multiple people
on de server just i never say a word about it, thanx for
reading this and if u are the one id never leave, i hope
i havent hurt your feelings, afterall i havent really
acted upon my feelings to others nor do i intend to in
the future! */