:root {
    --shade0:#1d1d21; /* shade colour 0 */
    --shade1:#18181c; /* shade colour 1 */
    --shade1a:#121216; /* shade colour 1a */
    --shade2:#0f0f14; /* shade colour 2 */
    --shade3:#09090D; /* shade colour 3 */
    --main:#030307;       /*main color rgb(0,0,0) var(--main)*/
    --text:#ddd;
}
body {
    font-family: Sans-Serif;
    color: var(--text);
    background-color: var(--shade0);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.sidebar p {
    margin: 0.4em 0;
}

.sidebar h4 {
    margin: 0.9em 0;
}

.content p:first-child {
    margin-top: 0px!important;
}

.alert {
    position: relative;
    display: block;
    background: #088;
    color: #fff;
    height: auto;
    text-align: center;
    font-weight: 600;
}

#closeAlert {
    color: #f66;
    left: 0.5em;
    bottom: -1.6em;
    padding: 0.5em 0;
    cursor: pointer;
    position: absolute;
}

#toggleSidebar {
    z-index: 9999;
    position: fixed;
    bottom: 1em;
    left: 0;
}
#toggleSidebarSide {
    z-index: 99999;
    position: fixed;
    bottom: 0;
    left: 0;
}

.container {
    position: relative;
    padding-left: 201px;
    }
.sidebar {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:200px;  
    background-color: var(--shade1a);
}
.head { 
    background: var(--shade0);
}

.headtext {
    width: auto;
    text-align: center;
}
.headtext,
.headtext a {
    line-height: 2em;
    font-size: 1.5em;
    color: #fff!important;
    font-weight: 600;
    text-decoration: none;
}
.content { 
    background-color: var(--main);
}
.footer { 
    display: block;
    height:100px;
}


/* unvisited link */
a:link {
    color: #11aaff;
}

/* visited link */
a:visited {
    color: #26B14C;
}

/* mouse over link */
a:hover {
    color: lightgreen;
}

/* selected link */
a:active {
    color: lightblue;
}

hr  {
    border-color: #303030;
    display: block;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px
}
img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.Profile {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    padding: 8px;
    margin: auto;
    width: 150px;
}
.AvatarWrapper {
    margin-right: 10px;
}
.NameWrapper {
    width: 170px;
}
.Avatar {
    height: 50px;
    width: 50px;
}
.Name {
    align-items: center;
    display: flex;
    line-height: 17px;
}
.NameContents {
    font-size: 16px;
}

/* since becpming bi,ive got a crush on multiple people
on de server just i never say a word about it, thanx for
reading this and if u are the one id never leave, i hope
i havent hurt your feelings, afterall i havent really
acted upon my feelings to others nor do i intend to in
the future! */
